body {
    font-family: Arial;
    background: #f2f6f3;
}
.card {
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
button {
    background: green;
    color: white;
    border: none;
}
a {
    display: block;
    margin-top: 15px;
    text-align: center;
}
